* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  background-color: #f9f9f9; }

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 72px 240px 1fr;
  grid-template-rows: 52px 1fr;
  grid-template-areas: "topbar topbar topbar" "sidebar sideMenu main-area"; }

.topbar {
  grid-area: topbar;
  background-color: #343434; }

.sidebar {
  grid-area: sidebar;
  background-color: orange; }

.sideMenu {
  grid-area: sideMenu;
  background-color: aqua; }

.main-area {
  width: 100%;
  grid-area: main-area; }

.header {
  height: 96px;
  background-color: purple; }

.dashboard {
  width: auto;
  height: 100%;
  padding: 12px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; }

.card {
  background-color: #ffffff;
  height: 348px;
  box-shadow: 0px 3px 8px rgba(29, 36, 38, 0.04);
  border-radius: 2px; }

.card-checklist {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 1040px;
  height: 312px;
  border: 1px solid #eeeeee; }

.action-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
  gap: 20px; }

.tile {
  height: 112px;
  background-color: #ffffff;
  box-shadow: 0px 3px 8px rgba(29, 36, 38, 0.04);
  border-radius: 2px;
  border: 1px solid #eeeeee; }

.column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; }

.card-insight {
  height: 344px; }

.card-list {
  height: 461px; }

.control-bar {
  padding: 20px 0px 0px 20px; }

@media only screen and (max-width: 1360px) {
  .column-2 {
    grid-template-columns: repeat(1, 1fr); } }

@media only screen and (max-width: 900px) {
  .sideMenu {
    display: none; }
  main {
    grid-template-areas: "topbar topbar topbar" "sidebar main-area main-area"; } }
